<% @meta_title = 'Which disciplines you want to learn?' %>
<%= meta_title %>

<%= container do %>
  <%= row do %>
    <div class="col-lg-24">
      <%= page_content do %>
        <%= render 'form' %>
      <% end %>
    </div>
  <% end %>
<% end %>
