<div class="row form-group">
  <label class="col-sm-8">Teach Disciplines</label>
  <div class="col-sm-16">
    <%# Discipline.all.each do |discipline| %>
      <%# f.simple_fields_for :disciplines, wrapper: :vertical_form do |d| %>
        <%# f.simple_fields_for :disciplines_users, current_user.disciplines_users.find_or_initialize_by(discipline_id: discipline.id) do |du| %>
        <%= f.fields_for :disciplines_users do |du| %>

          <% if false %>
          <div class="checkbox">
            <label>
              <%= hidden_field_tag "user_profile[discipline_ids][]" %>
              <%= check_box_tag "user_profile[discipline_ids][]", discipline.id, current_user.discipline_ids.include?(discipline.id) %>
              <strong> <%= discipline.title %> </strong>
            </label>
          </div>
          <% end %>

          <b><%= du.input :active, as: :boolean, label: du.object.model.discipline.title %></b>

          <div class="b-discipline card card-block">
            <%= du.input :discipline_areas, label: false, placeholder: "What are specific areas you're really great at?", wrapper: :vertical_form %>
            <%= du.input :discipline_year, wrapper: :vertical_btn_group_radion_and_checkboxes,
              collection: Constants::YEARS.map(&:first), as: :radio_buttons, label: false %>
            <%= du.input :discipline_id, as: :hidden %>
          </div>

        <% end %>
      <%# end %>
    <%# end %>
  </div>
</div>
