<% @meta_title = "#{current_user.first_name} #{current_user.last_name}" %>
<%= meta_title %>

<%= container do %>
  <%= row do %>
    <div class="col-xs-24">
      <%= page_content do %>
        <p><%= image_tag current_user.avatar %></p>

        <p><%= current_user.undergraduate_school %></p>
        <p><%= current_user.graduate_school %></p>
        <p><%= current_user.school_year %></p>
        <p><%= current_user.teach_fee %></p>
        <p><%= current_user.location %></p>
        <p><%= current_user.about %></p>
        <% current_user.users_disciplines.teach.each do |du| %>
          <p> <%= du.discipline_type %> </p>
          <p> <%= du.discipline.title %> </p>
          <p> <%= du.discipline_areas %> </p>
          <p> <%= du.discipline_year %> </p>
          <p> <%= du.discipline_grade %> </p>
        <% end %>


        <%= link_to 'Edit Profile', edit_user_profile_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
<% end %>
