<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= @meta_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100,100italic,300italic,400italic,500italic,700italic,900,900italic&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'> -->
  </head>
  <body>

    <nav class="navbar navbar-light navbar-full bg-faded">
      <div class="container">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag "logo_big.png", class: 'hidden-xs-down' %>
          <%= image_tag "logo_small.png", class: 'hidden-sm-up', style: 'height: 35px' %>
        <% end %>

        <ul class="nav navbar-nav pull-xs-right">
          <% if user_signed_in? %>
            <%= render 'menu_authenticated' %>
          <% else %>
            <%= render 'menu_nonauthenticated' %>
          <% end %>
          <li class="nav-item">
            <a class="nav-link btn btn-sm btn-primary" href="#">Need a tutor</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-xs-24">
          <% if notice %>
            <div class="alert alert-success m-t-1" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <%= notice %>
            </div>
          <% end %>
          <% if alert %>
            <div class="alert alert-danger m-t-1" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <%= alert %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <% unless params[:controller].include?('devise') || params[:controller].include?('user') %>
      <% if user_signed_in?  %>
        <%= render 'search_form' %>
      <% else %>
        <%= render 'b_jumbotron' %>
      <% end %>
    <% end %>

    <%= yield %>

    <div class="footer" style="background: #444; min-height: 5rem">
      <%= container do %>
        <%= row do %>
        <% end %>
      <% end %>
    </div>

  </body>
</html>
